//colors
$color-accent-1: #3BFF91;
$color-accent-2: #FFE640;
$color-accent-3: #FF544E;
$color-accent-4: #3BD7FF;
$color-accent-5: #97A5CC;

$color-font: #333366;
$color-font-80: rgba(#333366, .8);
$color-font-text: #2A2A2A;
$color-font-text-80: rgba(#2A2A2A, .8);
$color-font-text-50: rgba(#2A2A2A, .5);

$color-border: #EBEBF5;

$color-background-light: #F8F8FB;
$color-background-dark: #2A2A2A;

//paths 
$assets-img: '../static/img';
$assets-temp: '../static/img/temp';