html {
   overflow-x: hidden;
}

body {
   background: #FFF;
   color: $color-font;
   font-family: 'Roboto', sans-serif;
   overflow-x: hidden;
}
a {
   color: inherit;
   opacity: 1;
   transition: opacity .15s ease-out;

   &:hover {
      opacity: .75;
      color: inherit;
      text-decoration: none;
   }
}

.inner-container {
   max-width: 1440px;
   margin: 0 auto;
}