body {
    background: $color-background;
    font-family: $font-regular;
}

b, strong {
    font-weight: 700;
}

// .content {
//     // padding-top: 100px;
// }

.container {
    &--wide {
        max-width: 1370px;
    }
}

.half-row {
    width: 50%;
}

.page-background {
    background: $color-background;

    &--gradient {
        background: linear-gradient(to bottom, $color-background 0%,#FFF 100%);
    }
}