.single-header, .single-content {
   padding-top: 100px;
   padding-bottom: 100px;
}

.single-header {
   &__title {
      font-size: 52px;
      font-weight: 300;
      line-height: 1.12;
      padding-bottom: 75px;
   }

   &__subtitle {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.63;
      color: $color-font-text;
      width: 80%;

      &--localizaction {
         color: $color-font-text-50;
         font-weight: 400;
         font-size: 20px;
         margin-bottom: 30px;
      }
   }
}

.single-content { 
   font-size: 20px;
   line-height: 1.5;
   color: $color-font-text-80;
}