.banner-page {
   height: 300px;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   @include media-breakpoint-down(sm) {
      height: 200px;
   }

   &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, .5);
   }

   &__title {
      color: #FFF;
      font-size: 52px;
      line-height: 1.2;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      font-weight: 300;
      
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(tb) {
         font-size: 42px;
      }
      
      @include media-breakpoint-down(sm) {
         font-size: 32px;
      }
   }
}

.parallax-window {
   @include media-breakpoint-up(tb) {
      background-image: none!important;
   }
}