.breadcrumbs {
   background: $color-background-light;
   padding: 21px 0;
   font-size: 14px;
   font-weight: 500;
   color: $color-font-text-50;

   @include media-breakpoint-down(sm) {
      font-size: 12px;
      padding: 15px 0;
   }
}