.button {
   display: inline-block;
   color: $color-font;
   font-size: 12px;
   font-weight: 500;
   background: transparent;
   border: 0;
   padding: 0;
   margin: 0;
   cursor: pointer;
   opacity: 1;
   transition: opacity .15s ease-out;

   @include icon(angel-right, after);
   &:after {
      font-size: 12px;
      vertical-align: -2px;
      margin-left: 10px;
      transition: transform .15s ease-out;
      transform: translateX(0);
      display: inline-block;
   }

   &:hover {
      color: $color-font;
      opacity: .8;
      text-decoration: none;

      &:after {
         transform: translateX(5px);
      }
   }

   &--full {
      font-size: 16px;
      text-transform: uppercase;
      height: 42px;
      line-height: 42px;
      padding-left: 20px;
      padding-right: 20px;
      background: $color-accent-3;
      border-radius: 6px;
      color: #FFF;

      &:hover {
         color: #FFF;
      }
   }
}