.gallery {
   padding-top: 90px;
   padding-bottom: 100px;
   border-top: 2px solid $color-border;

   &__image-container {
      position: relative;
      overflow: hidden;

      &:after {
         content: '';
         display: block;
         width: 100%;
         padding-top: 100%;
      }

      > a {
         &:hover {
            opacity: 1;
         }
      }
   }

   &__image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: transform .5s ease-out;
      cursor: pointer;

      &:hover {
         transform: scale(1.1);
      }
   }
}