.bike-hotspots {
    &__image {
        pointer-events: none;
        user-select: none; 
        max-width: 100%;
    }  

    &__spot {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 49px;
        height: 49px;
        background: url(#{$assets}spot.png);
        display: block;
        cursor: pointer;
    }
}

.popover {
    padding: 25px 30px;
    box-shadow: 5px 9px 30px 0px rgba(0, 0, 0, 0.1);
    font-size: 12px;

    &-header {
        border: 0;
        font-size: 16px;
        color: $color-accent;
        padding: 0 0 10px 0;
    }
    &-body {
        padding: 0;
    }
}