.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 99;
    transition: all 0.2s ease-out;

    &--scroll {
        box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15); 
    }
}

.header-menu {
    $root: &;
    height: 100px;
    transition: height 0.2s ease-out;

    &--scroll {
        height: 70px;

        #{$root}__logo {
            width: 100px;
        }
    }

    &__nav {
        background: #FFF;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    &__item {
        position: relative;

        &:not(.wpml-ls-item) {
            #{$root}__link {
                line-height: 41px;

                &:hover {
                    text-decoration: none;
                    color: $color-font-50;
                }
            }
        }

        &--button {
            #{$root}__link {
                @extend .button;
                @extend .button--noborder;
                @extend .button--full;
                @extend .button--shadow;
            }
        }

        &.wpml-ls-current-language {
            border-radius: 21px 21px 0 0;

            > #{$root}__link {
                @extend .button;
                @extend .button--icon;
                border: 1px solid $color-accent;
                @include icon(arrow-down, after);

                &:after {
                    font-size: 10px!important;
                    transform: translate(0, -50%) rotate(0deg)!important;
                    transition: transform 0.1s ease-out;
                }

                &:hover {
                    color: $color-font!important;
                }
            }

            &:hover {
                background: $color-accent;

                > #{$root}__link {
                    border-bottom: 0;
                    border-radius: 21px 21px 0 0;
                    
                    &:after {
                        transform: translate(0, -50%) rotate(180deg)!important;
                    }

                    &:hover {
                        border-radius: 21px;
                    }
                }

                .sub-menu {
                    display: block;
                }
            }
        }
    }

    &__link {
        @extend .text--label;
        color: $color-font;
    }

    &__logo-container {
        height: 100px;
        width: 240px;
        padding: 20px 20px 0 20px;
        text-align: center;
    }

    &__logo {
        width: 200px;
        transition: width 0.2s ease-out;
    }

    .sub-menu {
        display: none;
        position: absolute;
        list-style: none;
        background: #FFF;
        margin: 0;
        padding: 0;
        border-radius: 0 0 21px 21px;
        background: $color-accent;
        width: 100%;
        
        #{$root}__item {
            width: 100%;

            #{$root}__link {
                display: block;
                width: 100%;
                padding: 10px 20px;
                transition: color 0.25s ease-out;

                &:hover {
                    color: #FFF;
                    text-decoration: none;
                }
            }
        }
    }
}