.section {
    &--accent {
        background-color: $color-accent;
        color: #FFF;
    }
    &--white {
        background-color: #FFF;
    }
}

.icon-text {
    position: relative;
    padding-left: 60px;
    padding-top: 7px;
    margin-bottom: 40px;

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        text-align: center;
    }

    &__content {
        font-size: 14px;

        p {
            margin: 0 0 7px 0;
        }
    }
}

.text-box {
    &__headline {
        margin-bottom: 30px;
    }

    &__link {
        margin-top: 35px;
    }
}

.under-banner {
    position: relative;
    margin-top: -80px;
    z-index: 2;
    background: transparent;
}

.cta-section {
    padding: 60px;
    position: relative;
    z-index: 1;

    &--home {
        padding-left: 200px;
        padding-right: 200px;
        background-position: bottom left;
        background-repeat: no-repeat;

        &-start {
            background-position: bottom left;
        }

        &-end {
            background-position: bottom right;
        }
    }

    &__headline {
        margin-bottom: 20px;
    }

    &__button {
        margin-top: 15px;
    }
}

.page-section {
    padding: 120px 0;
}

.framed-section {
    position: relative;
    padding: 60px 80px;
    border: 1px solid rgba($color-font, 0.15);

    &--green {
        border: 2px solid $color-accent;
    }
}

.numbers-grid {
    margin: 15px 0;
}

.parallax-item {
    transition: transform 0.1s ease-out;

    img {
        width: 100%;
        max-width: 100%;
        // filter: drop-shadow(25px 43px 50px rgba(0, 0, 0, 0.05)); 
    }
}