.events-slider {
   position: relative;

   &__arrow {
      position: absolute;
      top: 50%;
      z-index: 9;
      font-size: 30px;
      color: #FF544E;
      opacity: 1;
      transition: opacity .25s ease-out;
      cursor: pointer;

      &:hover {
         opacity: .65;
      }

      &--prev {
         left: 0;
         transform: translate(-50px, -50%);
      }

      &--next {
         right: 0;
         transform: translate(50px, -50%);
      }
   }
}

.slider-page {
   padding: 100px 0;

   &__content {
      padding: 0 25%;
      text-align: center;
      font-style: italic;
      font-size: 19px;
      color: $color-font-text-80;
   }

   &__nav {
      margin-top: 50px;
   }

   &__nav-item {
      text-align: center;
      opacity: .5;
      transition: opacity .2s ease-out;
      cursor: pointer;

      &:hover {
         opacity: .75;
      }

      &.active {
         opacity: 1;
      }
   }

   &__nav-icon {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      margin: 0 auto 15px auto;
      background: $color-background-light;
      position: relative;

      .icon-user {
         font-size: 40px;
         color: $color-accent-3;
      }
   }

   &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
}