.slider-logo {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0.25s ease-out,  opacity 0.25s ease-out;

    &:nth-child(1) {
        transition-delay: 0.05s;
    }
    &:nth-child(2) {
        transition-delay: 0.1s;
    }
    &:nth-child(3) {
        transition-delay: 0.15s;
    }
    &:nth-child(4) {
        transition-delay: 0.2s;
    }

    &--animate {
        opacity: 0;
        transform: translate(0, -20px);
    }
}

.home-logo-slider {
    &__item {
        width: 100%;
        padding-bottom: 33%;
        position: relative;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.home-logo-slider-title {
    margin-bottom: 20px;
}

.home-logo-slide {
    &:not(.slick-current) {
        .slider-logo {
            opacity: 0;
        }
    }
}