.headline {
    font-family: $font-display;
    font-weight: 700;
    margin: 0;
    padding: 0;
    
    &--main {
        font-size: 74px;
    }

    &--section {
        font-size: 36px;

        &-small {
            font-size: 32px;
        }
    }
}

.text {
    margin: 0;
    padding: 0;
    line-height: 1.5;

    &--light {
        color: rgba($color-font, .75);
    }

    &--label {
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.2em;
        font-weight: 700;
    }

    &--number {
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px;
    }
}

.text-label {
    text-transform: uppercase;
    opacity: .75;
    font-size: 11px;
    letter-spacing: 0.2em;
    font-weight: 700;
    margin: 0 0 6px 0;
    padding: 0;
}

.color {
    color: $color-font;

    &--75 {
        color: rgba($color-font, .75);
    }

    &--50 {
        color: rgba($color-font, .5);
    }

    &--25 {
        color: rgba($color-font, .25);
    }

    &--white-75 {
        color: rgba(#FFF, .75);
    }
}