.headline {
   font-weight: 300;
   line-height: 1.19;
   margin: 0;
   padding: 0;

   &--300 {font-weight: 300;}
   &--400 {font-weight: 400;}
   &--500 {font-weight: 500;}
   &--700 {font-weight: 700;}

   &--main {
      font-size: 48px;
      
      @include media-breakpoint-down(tb) {
         font-size: 42px;
      }

      @include media-breakpoint-down(md) {
         font-size: 38px;
      }

      @include media-breakpoint-down(sm) {
         font-size: 32px;
      }
   }

   &--card {
      font-size: 30px;

      @include media-breakpoint-down(sm) {
         font-size: 22px;
         height: auto!important;
      }

      &-small {
         font-size: 20px;
         font-weight: 500;
      }
   }
}

.text {
   font-weight: 400;
   color: $color-font-text-80;
   line-height: 1.563;
   margin: 0;
   padding: 0;
   
   @include media-breakpoint-down(sm) {
      font-size: 14px;
   }

   &--300 {font-weight: 300;}
   &--400 {font-weight: 400;}
   &--500 {font-weight: 500;}
   &--700 {font-weight: 700;}

   &--reset-gaps {
      p {
         margin: 0;
         padding: 0;
      }
   }

   &--light {
      color: $color-font-text-50;
   }

   &--smaller {
      font-size: 14px;
   }

   &--small {
      font-size: 12px;
   }

   &--bigger {
      font-size: 20px;

      @include media-breakpoint-down(sm) {
         font-size: 16px;
      }
   }
}